.appbar{
    // background-image: linear-gradient( to left,rgb(218, 214, 214) ,#555);
    background-color: #203040;
    color: #edb500;
    box-shadow: none;
}
.list{
    background-color:#203040;
    li
    {
        
        color: #edb500;
    }
}